@media only screen and (min-width: 768px) {

  header {

    .navbar {

      &.show {
        position: absolute;
        top: 10em;
        left: 10em;
        text-align: center;
        width: 60%;
      }
    }
  }


  .main-container {

    .card {
      width: 55%;
    }

    .top-info {

      .info-buttons {
        justify-content: space-around;

        .back {
          width: 50%;
        }
      }
    }
  }

}